html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0;}

body {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
}
h1{
    text-align: center;
    font-family: "Roboto";
    font-weight: 700;
    margin: 2rem;
    padding: .5rem 0 0 0; 
	font-size: 1.95rem;
}

.container{
    display:flex;
    justify-content: center;
    margin:3rem 0px;
    background: #fff;
    padding: 2.5rem;
}

.pics{
    margin:2rem;
}

.pics img{
    width: 400px;
    height: 500px;
}
article{
   margin:2rem;
   padding: 2rem;
}
article p{
text-align: justify;
line-height: 1.3;
font-family: "Roboto";
font-weight: 400;
font-size: 1.1rem;
margin: 1.8rem;
}
article{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
article h2{
    text-align: center;
    margin-bottom: 0.8rem;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 1.8rem;
}
.underline{
    border-bottom: 4px solid #D89616;
    width: 10%;
}

.contact {
    border-radius: 10px;
    background-color: #ffffff;
    padding: 1.8rem;
    margin:5rem auto ;
    width: 800px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  .contact h2{
    margin-bottom: 2rem;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 1.8rem;
}
form{
    padding: 1.5rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}
input[type=text], select, textarea {
    width: 100%; 
    padding: 1.2rem;  
    border: 1px solid #0D0C0C; 
    margin-top: 1.6rem; 
    margin-bottom: 1.8rem; 
    resize: vertical;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }

  button {
    color: white;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    background: rgba(0, 77, 230, 0.76);
    border-radius: 8px;
    width: 217px;
    text-align: center;
    margin-top: 20px ;
    margin-bottom: 20px;
    font-family: "Roboto";
    font-size: 1.2rem;
    font-style: normal;
    font-weight: bold;
    align-self: flex-end;
  }

  input[type=submit]:hover {
    background-color: rgba(0, 77, 230, 0.76);;
  }


  @media only screen and (min-width: 768px) {
    
 
    
    
    
    
}